# Python pycache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
.env

# Large Assets and Pretrained Weights
weights/**
!weights/**/
!weights/**/*.gitkeep
vfms/**
!vfms/**/
!vfms/**/*.gitkeep
*.tar.zst
*.tar
*.zst
*.zip
*.pt
*.npz

# Outputs & Temporary Files
out*/
tmp/
*.mov
*.mp4
*.exr
*.png
*.jpg
*.jpeg
*.f16
*.f32
